.descriptionbox {
    margin: 80px 50px;
    margin-bottom: 220px;
}

.decriptionbox-navigator {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.descriptionbox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.descriptionbox-nav-box:hover {
    background-color: #f1f1f1;
    color: #000;
}

.descriptionbox-nav-box.fade {
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d0d0d0;
    padding: 40px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* Media Query */
@media (max-width: 850px) {
    .descriptionbox {
        margin: 60px 40px;
        margin-bottom: 180px;
    }

    .descriptionbox-nav-box {
        width: 130px;
        height: 45px;
        font-size: 15px;
    }

    .descriptionbox-description {
        padding: 30px;
    }
}

